/* Global Mind Share - style sheet configurations */
/* set background for all pages (*) and any .gms classes */
*, .gms {
    background-color: #000d1e;
}
#main {
    margin:20px;
}

/* hide earth image before fade in */
#earth-img {
    display:none;
}

/*
CSS tips and tricks - 
.  class =
#  id = 
div or body or p or <x> - entire DOM for all those elements
*/

.gmstiny {
  /*  tiny text on the gms site */
  font-size:12px;
}
.gmsverytiny {
  /*  really tiny text on the gms site */
  font-size:8px;
}

.page-header-img{
    margin: 30px;
    box-shadow: 0px 0px 20px 5px #004466;
    border: 3px solid #000000;
}

#commentsModal, #detailsModal  {
    z-index:9909;
    box-shadow: 0px 0px 50px 10px #046;
    padding: 10px;
    border: solid 2px #000000;
    border-radius: 10px;
	/* make modal larger - margin: top , x , x, left -  left should be 1/2 of width */
	width: 700px;
	margin: -350px 0 0 -350px;
}

.social-button {
    float:left;
    margin:3px;
}

#commentsModal.modal-body, #detailsModal .modal-body{
    max-height: 400px;
    overflow-y:scroll;
}

.announcements {
   color: #0B75AF;
   font-size:14px;
}


